*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* .para-1{
    background-color: yellow;
    color: green;
    border: 3px solid red;
}
div {
    background-color: blue ;
    color: red ;
    border: 3px solid yellow ;
} */

div h1 .para-1{
    background-color: maroon !important;
    color: blueviolet !important;
}

div h1 .para-1{
    /* background: #654876 !important; */
    height: 100vh;
    color: aqua !important;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_2t/6293.png');
    background-repeat: no-repeat;
    background-size: cover;
}
